@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Raleway&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.aboutpage {
    width: 100%;
    height: auto;
    position: relative;
    align-items: center;
    padding: 250px 0 100px 0;
}

.about-mask {
    max-width: 100%;
    height: 497px;
    /* margin-left: -2%; */
    text-overflow: clip;
    overflow: hidden;
    position: absolute;
    align-items: center;
    /* margin-top: 190px; */
    /* padding: 190px 0 60px 0; */
}
.about-mask p {
    width: 100%;
    height: auto;
    font-size: 2.4rem;
    line-height: 51px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #D5DDEC;
    text-transform: uppercase;
    text-overflow: clip;
    position: relative;
    /* padding: 200px 0 0 0; */
}

.text-wrapper {
    max-width: 1160px;
    height: 497px;
    position: relative;
    margin: 0 auto;
}

.about-text {
    width: 70rem;
    height: 500px;
    position: relative;
    background-color: white;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.text-container {
    width: 860px;
    height: 497px;
    position: relative;
    margin: 0 auto;
    align-items: center;
}

.text-container h1 {
    width: 100%;
    height: auto;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.425rem;
    line-height: 51.2px;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    text-align: left;
    color: #FE016E;
    margin: 0 auto;
}

.text-container h3 {
    width: 100%;
    height: auto;
    position: relative;
    font-size: 1.875rem;
    line-height: 30px;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-align: left;
    color: #2F54A1;
    top: 32%;
    align-items: center;
    margin: 0 auto;
}

.text-container p {
    width: 100%;
    height: auto;
    position: relative;
    font-size: 1.25rem;
    line-height: 30px;
    font-style: italic;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-align: left;
    color: #2F54A1;
    top: 25%;
    align-items: center;
    margin: 0 auto;
}

.about-blocks {
    width: 78%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.block1 {
    width: 280px;
    height: 150px;
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid #d5ddec;
    align-items: center;
    padding: 30px 25px 15px 25px;
    top: -150px;
}

.block1 h4 {
    width: 100%;
    height: auto;
    font-size: 1.25rem;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-style: italic;
    color: #FE016E;
    text-transform: uppercase;
}

.block1 p {
    width: 100%;
    height: auto;
    font-size: 1rem;
    line-height: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-style: italic;
    color: #2F54A1;
    padding: 5px 0 0 0;
}

.about-titlemb {
    display: none;
}

.aboutmb-mask {
    display: none;
}

@media (max-width: 1024px){
    .about-text {
        width: 100%;
    }
}

@media (max-width: 768px){
    .aboutpage {
        background-color: #FFFFFF;
        width: 100%;
        height: 100%;
        margin-top: 100px;
        padding: 0 0 0 0;
    }

    .about-mask {
        display: none;
    }

    .about-wrapper {
        width: 90%;
        height: auto;
        position: relative;
        height: auto;
        margin: 0 auto;
    }

    .about-text {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .about-blocks {
        width: 90%;
        height: 250px;
        display: flex;
        flex-direction: column;
        margin-top: 200px;
        top: -50px;
    }

    .block1 {
        width: 100%;
        margin-top: 20px;
        padding: 25px 25px 25px 25px;
        align-items: flex-start;
    }

    .block1 h4 {
        width: 64%;
    }
    

    .text-container {
        width: 90%;
        height: auto;
        position: relative;
        margin: 0 auto;
        align-items: center;
    }

    .text-container h1 {
        font-size: 24px;
        line-height: 24px;
        padding: 2rem 0 2rem 0;
    }

    .text-container p {
        font-size: 1.125rem;
        line-height: 28px;
        padding: 8rem 0 0 0;
    }
    
    .text-container h3 {
        font-size: 1.25rem;
        line-height: 28px;
        padding: 2rem 0 0 0;
    }

    .text-wrapper {
        width: 100%;
        height: auto;
    }
}
